---
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import { markdownify } from "@/lib/utils/textConverter";
import type { Section } from "@/types";
import Subtitle from "@/layouts/components/widgets/Subtitle.astro";

// Type for this section data
type features_section_type = Section & {
  list: {
    title: string;
    description: string;
  }[];
};
type Props = {
  content?: features_section_type;
};

// Fetching the default content for the this section
let default_content = (
  await getEntryCTM("sections", "features-section", Astro.currentLocale)
)?.data as features_section_type;

// Enables content customization (e.g., title, description) with a fallback to 'default_content' if not provided.
// The 'content' prop should match the structure of 'default_content'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'default_content' will be used.
let actual_content = overrideObjects(
  { ...default_content },
  Astro.props.content,
) as features_section_type;

// Extracting required values from 'content' object
let {
  enable = true,
  title,
  subtitle,
  list,
} = actual_content as features_section_type;
---

{
  enable && (
    <section>
      <div class="section-gradient relative after:top-0">
        <div class="container space-y-16 md:space-y-28">
          {title && (
            <div class="mx-auto max-w-2xl text-center" data-aos="fade-up-sm">
              <Subtitle content={subtitle} />
              <h2
                class="has-italic-text capitalize"
                set:html={markdownify(title)}
              />
            </div>
          )}
          {list && (
            <div
              class="grid gap-x-12 gap-y-10 md:grid-cols-2 lg:grid-cols-3"
              data-aos="fade-up-sm"
              data-aos-delay="200">
              {list.map((item) => (
                <div class="border-primary/40 before:bg-primary relative space-y-5 before:absolute before:-left-px before:content-[''] last:border-b-0 last:pb-0 max-sm:border-b max-sm:pb-10 before:max-sm:bottom-0 before:max-sm:h-px before:max-sm:w-1/4 last:before:max-sm:hidden sm:border-l sm:pl-10 before:sm:top-1/2 before:sm:h-1/4 before:sm:w-px before:sm:-translate-y-1/2">
                  {item.title && (
                    <h3 class="h4" set:html={markdownify(item.title)} />
                  )}
                  {item.description && (
                    <p set:html={markdownify(item.description)} />
                  )}
                </div>
              ))}
            </div>
          )}
        </div>
      </div>
    </section>
  )
}
