---
import {
  getLocaleUrlCTM,
  useTranslations,
} from "@/lib/utils/languageParser.ts";

interface Props {
  collection?: string;
  currentPage?: number;
  totalPages?: number;
  class?: string;
}

const {
  collection,
  currentPage = 1,
  totalPages = 1,
  class: className,
} = Astro.props;

const indexPageLink = currentPage === 2;
const hasPrevPage = currentPage > 1;
const hasNextPage = totalPages > currentPage!;
const t = await useTranslations(Astro.currentLocale as string);

let pageList: number[] = [];
for (let i = 1; i <= totalPages; i++) {
  pageList.push(i);
}
---

{
  totalPages > 1 && (
    <nav
      id="pagination"
      class:list={[
        "flex flex-wrap items-center justify-center gap-3 font-normal",
        className,
      ]}
      aria-label="Pagination">
      {/* previous */}
      {hasPrevPage ? (
        <a
          href={getLocaleUrlCTM(
            indexPageLink
              ? `${collection ? "/" + collection : "/"}`
              : `${collection ? "/" + collection : ""}/page/${currentPage - 1}`,
            Astro.currentLocale,
          )}
          class="hover:bg-primary text-text-default hover:text-light flex items-center gap-3 rounded-full border px-8 py-2.5 text-lg transition duration-300">
          <svg
            width="23"
            height="14"
            viewBox="0 0 23 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.90957 0.717949C7.90957 1.38385 7.25175 2.37821 6.58585 3.21282C5.7297 4.28974 4.70662 5.22936 3.53367 5.94641C2.65419 6.48397 1.58803 7 0.730083 7M0.730083 7C1.58803 7 2.65508 7.51602 3.53367 8.05359C4.70662 8.77154 5.7297 9.71115 6.58585 10.7863C7.25175 11.6218 7.90957 12.6179 7.90957 13.2821M0.730083 7L22.2686 7"
              stroke="currentColor"
              stroke-width="0.897436"
            />
          </svg>
          {t("common.pagination_previous")}
        </a>
      ) : (
        <span class="text-light/25 pointer-events-none flex cursor-not-allowed items-center gap-3 rounded-full border px-8 py-2.5 text-lg transition duration-300 select-none">
          <svg
            width="23"
            height="14"
            viewBox="0 0 23 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.90957 0.717949C7.90957 1.38385 7.25175 2.37821 6.58585 3.21282C5.7297 4.28974 4.70662 5.22936 3.53367 5.94641C2.65419 6.48397 1.58803 7 0.730083 7M0.730083 7C1.58803 7 2.65508 7.51602 3.53367 8.05359C4.70662 8.77154 5.7297 9.71115 6.58585 10.7863C7.25175 11.6218 7.90957 12.6179 7.90957 13.2821M0.730083 7L22.2686 7"
              stroke="currentColor"
              stroke-width="0.897436"
            />
          </svg>
          {t("common.pagination_previous")}
        </span>
      )}

      {/* page index */}
      {pageList.map((pagination, i) =>
        pagination === currentPage ? (
          <span
            aria-current="page"
            class="text-light bg-primary flex h-12 w-12 items-center justify-center rounded-full border text-lg">
            {pagination}
          </span>
        ) : (
          <a
            href={getLocaleUrlCTM(
              i === 0
                ? `${collection ? "/" + collection : "/"}`
                : `${collection ? "/" + collection : ""}/page/${pagination}`,
              Astro.currentLocale,
            )}
            aria-current="page"
            class="text-text-default hover:bg-primary hover:text-light flex h-12 w-12 items-center justify-center rounded-full border text-lg transition duration-300">
            {pagination}
          </a>
        ),
      )}

      {/* next page */}
      {hasNextPage ? (
        <a
          href={getLocaleUrlCTM(
            `${collection ? "/" + collection : ""}/page/${currentPage + 1}`,
            Astro.currentLocale,
          )}
          class="hover:bg-primary text-text-default hover:text-light flex items-center gap-3 rounded-full border px-8 py-2.5 text-lg transition duration-300">
          {t("common.pagination_next")}
          <svg
            width="22"
            height="16"
            viewBox="0 0 22 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.5894 1.71795C14.5894 2.38385 15.2473 3.37821 15.9132 4.21282C16.7693 5.28974 17.7924 6.22936 18.9653 6.94641C19.8448 7.48397 20.911 8 21.7689 8M21.7689 8C20.911 8 19.8439 8.51602 18.9653 9.05359C17.7924 9.77154 16.7693 10.7112 15.9132 11.7863C15.2473 12.6218 14.5895 13.6179 14.5895 14.2821M21.7689 8L0.230469 8"
              stroke="currentColor"
              stroke-width="0.897436"
            />
          </svg>
        </a>
      ) : (
        <span class="text-light/25 pointer-events-none flex cursor-not-allowed items-center gap-3 rounded-full border px-8 py-2.5 text-lg transition duration-300 select-none">
          {t("common.pagination_next")}
          <svg
            width="22"
            height="16"
            viewBox="0 0 22 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.5894 1.71795C14.5894 2.38385 15.2473 3.37821 15.9132 4.21282C16.7693 5.28974 17.7924 6.22936 18.9653 6.94641C19.8448 7.48397 20.911 8 21.7689 8M21.7689 8C20.911 8 19.8439 8.51602 18.9653 9.05359C17.7924 9.77154 16.7693 10.7112 15.9132 11.7863C15.2473 12.6218 14.5895 13.6179 14.5895 14.2821M21.7689 8L0.230469 8"
              stroke="currentColor"
              stroke-width="0.897436"
            />
          </svg>
        </span>
      )}
    </nav>
  )
}
