---
import { markdownify } from "@/lib/utils/textConverter";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

const { class: className } = Astro.props;
let { enable, rating, customer, content } = Astro.props.content || {};

rating = new Array(rating || 5).fill(null);
---

{
  enable && (
    <div
      class:list={["relative flex w-full rounded-lg border p-6 " + className]}>
      <div class="flex flex-col justify-between space-y-4 md:space-y-8">
        {content && (
          <div class="space-y-8 md:space-y-16">
            <div class="prose-styles" set:html={markdownify(content, true)} />
          </div>
        )}
        {customer && (
          <div class="flex flex-wrap-reverse items-center justify-between gap-x-2 gap-y-10">
            <div class="flex items-center gap-4">
              {
                <OptimizedImage
                  class="h-12 w-12 rounded-full"
                  width={48}
                  height={48}
                  src={customer.image}
                  alt={customer.name}
                />
              }
              <div>
                {customer.name && <div set:html={markdownify(customer.name)} />}
                {customer.role && (
                  <p class="text-sm" set:html={markdownify(customer.role)} />
                )}
              </div>
            </div>
            <OptimizedImage
              src="/images/icons/svg/styled-star.svg"
              alt="icon"
            />
          </div>
        )}
      </div>
    </div>
  )
}
