@import "./buttons.css";
@import "./utilities.css";

/* form style */
form,
.form {
  .form-input,
  .hs-select input.form-input,
  .hs-select button.form-input {
    @apply bg-accent text-text-default placeholder:text-text-default focus:border-primary/50 rounded-md border border-transparent px-4 py-4;
    @apply focus:!shadow-none focus:!ring-0;
  }

  [type="text"]:focus,
  input:where(:not([type])):focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply border-primary/50;
  }

  .form-label {
    @apply text-text-default mb-2 block font-normal;
  }

  /* Form Checkbox & Radio */
  .form-check-wrapper {
    @apply space-y-2;
  }

  .form-check {
    @apply flex items-start gap-4;

    .form-check-label {
      @apply cursor-pointer leading-relaxed;

      a {
        @apply text-secondary underline;
      }
    }

    .form-radio,
    .form-checkbox {
      @apply shrink-0 cursor-pointer transition-[ring] duration-500;
      @apply ring-primary mt-1 h-4 w-4 border-0 bg-white/10 ring-0 outline-0;
      @apply focus:ring-0 focus:ring-offset-0 focus:outline-0;
      @apply checked:bg-primary checked:ring-primary/15 checked:mt-[9px] checked:ml-2 checked:h-2 checked:w-2 checked:bg-none checked:ring-[8px];
    }

    .form-radio {
      @apply -ml-px h-[18px] w-[18px] checked:ms-[3.5px] checked:me-[4.5px] checked:h-[9px] checked:w-[9px] checked:ring-[4.8px];
    }

    .form-checkbox {
      @apply me-px mt-1.5 h-[16px] w-[16px] checked:ms-[4.4px] checked:me-[6px] checked:mt-2.5 checked:h-[8px] checked:w-[6.5008px] checked:ring-[5px];
    }
  }

  /* Preline Dropdown "Search Not Found Text" */
  [data-hs-select-dropdown] > span {
    @apply text-text-default py-3;
  }

  .hs-dropdown {
    @apply bg-accent border-border-default rounded-md border p-1;

    .hs-search-input-wrapper {
      @apply sticky top-0 p-1;

      .hs-dropdown-search-input {
        @apply border-border-default focus:ring-border-default block w-full px-3 py-2 before:absolute before:inset-0 before:z-10 focus:shadow-none focus:ring-0 focus:outline-none;
      }
    }

    .hs-dropdown-search-item {
      @apply text-text-default hover:bg-primary/10 focus:bg-primary/10 w-full cursor-pointer rounded-md px-4 py-2 text-sm transition-colors duration-300 focus:outline-none;
    }
  }
}
