---
import "aos/dist/aos.css";
import "@/styles/main.css";import Header from "@/components/global/header/Header.astro";
import Footer from "@/components/global/Footer.astro";
import Head from "@/components/global/Head.astro";
import removeEmptyKeys from "@/lib/utils/removeEmptyKeys";
import type { JSONLDProps } from "@/lib/utils/JsonLdGenerator";

type Props = JSONLDProps & {
  className?: string;
  fitToScreen?: boolean;
  draft?: boolean;
  meta_title?: string;
  meta_description?: string;
  robots?: string;
  exclude_from_sitemap?: boolean;
  custom_slug?: string;
  canonical?: string;
  status?: number;
  keywords?: string[]; // Array of strings
  disable_tagline?: boolean;
  structuredData?: Props;
  sectionSpacing?: "md" | "lg";
};

// destructure frontmatter
let {
  className,
  sectionSpacing = "lg",
  structuredData,
  status,
  fitToScreen = true,
} = Astro.props;

// Exclude empty key value weather it may empty string, object or array from Astro.props
let props = removeEmptyKeys(Astro.props);

// Conditionally add min-h-[102vh] class to prevent FOUC (flash of unstyled content) while fast navigation
className =
  status !== 404 && fitToScreen
    ? (className ? className + " " : "") + "fit-to-screen"
    : className;
---

<!doctype html>
<html lang="en">
  <Head {...props} structuredData={structuredData} />
  <body>
    <Header {...props} />
    <main
      class:list={[
        {
          "section-spacing-md": sectionSpacing === "md",
        },
        {
          "section-spacing-lg": sectionSpacing === "lg",
        },
        className,
      ]}>
      <slot />
    </main>
    <Footer />

    <script>
      // @ts-nocheck
      import SmoothScroll from "smoothscroll-for-websites";
      document.addEventListener("DOMContentLoaded", async () => {
        // AOS - https://github.com/michalsnik/aos
        const AOS = await import("aos");

        AOS.init({
          duration: 700,
          easing: "ease-out",
          disable: "mobile",
          once: true,
        });

        // Smooth Scroll - https://github.com/gblazex/smoothscroll-for-websites/wiki
        SmoothScroll({
          animationTime: 600, // [ms]
          stepSize: 60, // [px]
          touchpadSupport: true,
        });

        // Fix: Support horizontal scrolling by using the mouse wheel + shift
        document.querySelectorAll("*").forEach((el) => {
          if (el.scrollWidth > el.clientWidth) {
            el.addEventListener(
              "wheel",
              function (event) {
                if (event.shiftKey) {
                  event.preventDefault();

                  this.scrollBy({
                    left: event.deltaY * 3,
                    behavior: "smooth",
                  });
                }
              },
              { passive: false },
            );
          }
        });
      });
    </script>  </body>
</html>
