---
/**
 * Example Usage

  <Gallery>
    <GalleryItem
      image_src="/images/gallery/1.jpg"
      image_alt="example alt text"
      video_src="LXb3EKWsInQ"
    />
    <GalleryItem
      image_src="/images/gallery/2.jpg"
      image_alt="example alt text"
      video_src="/videos/test-video.mp4"
      video_provider="html5"
    />
    <GalleryItem
      width="1/2"
      image_src="/images/gallery/3.jpg"
      image_alt="example alt text"
    />
    <GalleryItem
      width="1/2"
      image_src="/images/gallery/4.jpg"
      image_alt="example alt text"
    />
  </Gallery>

 */

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["image-list-component grid grid-cols-6 gap-3", className]}>
  <slot />
</div>
