---
import * as FaIcons from "react-icons/fa";
import * as Fa6Icons from "react-icons/fa6";
import * as IoIcons from "react-icons/io";
import * as Io5Icons from "react-icons/io5";
import * as RxIcons from "react-icons/rx";
import * as TfiIcons from "react-icons/tfi";

interface IconMap {
  [key: string]: any;
}

const iconLibraries: { [key: string]: IconMap } = {
  fa: { ...FaIcons, ...Fa6Icons },
  io: { ...IoIcons, ...Io5Icons },
  rx: RxIcons,
  tfi: TfiIcons,
};

const getIconLibrary = (icon: string): IconMap | undefined => {
  const index = icon.startsWith("Tfi") ? 3 : 2;
  const libraryKey = icon.substring(0, index).toLowerCase();
  return iconLibraries[libraryKey];
};

export interface Props {
  icon: string;
  class?: string;
  [key: string]: any;
}

const { icon, ...props } = Astro.props as Props;
const IconLibrary = getIconLibrary(icon);
const Icon = IconLibrary ? IconLibrary[icon] : undefined;
---

{
  !Icon ? (
    <span class="text-xs">404</span>
  ) : (
    <Icon className={Astro.props.class} {...props} />
  )
}
