---
import ReactIcons from "@/helpers/ReactIcons.astro";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import {
  getLocaleUrlCTM,
  supportedLanguages,
} from "@/lib/utils/languageParser.ts";
import trailingSlashChecker from "@/lib/utils/trailingSlashChecker";

const currentLocale = Astro.currentLocale;
const languages = supportedLanguages.map((lang) => {
  const href = getLocaleUrlCTM(Astro.url.pathname, lang.languageCode as string);

  // Don't include current locale in url
  if (href === trailingSlashChecker(Astro.url.pathname)) {
    return;
  }

  return {
    slug: href,
    ...lang,
  };
});
---

<div
  class="language-switcher hs-dropdown relative inline-block [--gpu-acceleration:false] [--placement:bottom-right] [--strategy:auto] lg:[--auto-close:inside]">
  <button
    type="button"
    id="language-switcher-dropdown-toggle"
    class="language-switcher-button hs-dropdown-toggle"
    aria-expanded="false"
    aria-label="Menu">
    <OptimizedImage
      inlineSvg={true}
      src="/images/icons/svg/multilingual.svg"
      alt="icon"
      class="w-4"
    />
    <span class="text uppercase">{currentLocale}</span>
    <ReactIcons
      icon="IoIosArrowDown"
      class="hs-dropdown-open:rotate-180 w-3.5 transition-transform duration-300"
    />
  </button>
  <ul
    class="language-switcher-dropdown hs-dropdown-menu hs-dropdown-open:opacity-100 hs-dropdown-open:!mt-0 hs-dropdown-open:visible z-10 mt-2 hidden w-24 min-w-32 opacity-0 transition-[opacity,margin] [--placement:right-bottom]"
    aria-labelledby="language-switcher-dropdown-toggle">
    {
      languages.map(
        (language) =>
          language && (
            <li>
              <a
                class:list={[
                  {
                    active: language.languageCode === currentLocale,
                  },
                  "capitalize",
                ]}
                href={language.slug}>
                {language.contentDir}
              </a>
            </li>
          ),
      )
    }
  </ul>
</div>
