---
import { getLocaleUrlCTM } from "@/lib/utils/languageParser.ts";

const { navigation_button, navigation_button_label } = Astro.props;
---

<a
  {...{
    // Set `rel` attribute for external urls or use provided value
    rel: navigation_button.url?.startsWith("http")
      ? navigation_button.rel || "noopener noreferrer"
      : navigation_button.rel || undefined,

    // Set `target` to "_blank" for external urls unless otherwise specified
    target: navigation_button.url?.startsWith("http")
      ? navigation_button.target || "_blank"
      : navigation_button.target || undefined,
  }}
  class="relative flex items-center"
  href={getLocaleUrlCTM(navigation_button.url, Astro.currentLocale)}>
  <span
    class:list={[
      "btn btn-primary has-text-flip-animation",
    ]}
    data-content={navigation_button_label}>
    {navigation_button_label}
  </span>
</a>
